html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-family: lato;
    background-image: url("/img/obrazek.jpg");

}

#gora{
	pposition: fixed;
	width: 100%;
	height: 60px;
	background: #800123;
	
}



.lewo{
	wwidth: 25%;
	height: 100%;
    background-image: linear-gradient(to left bottom, #800123, #6f0020, #5e001c, #4d0117, #3d0112);
    bbackground-image: url("/img/obrazek2.jpg");
	float: left;
    color: #ffffff;
    text-align: center;
    overflow: auto;
    padding-top: 100px;

}

.prawo{
	text-align: center;
	height: 100%;
	background: #ECEEF2;
	float: left;
    padding-top: 100px;


}

.podpowiedz{
	background: silver;
	float: left;
	width: 100%;
	height: 50px;
	font-size: 20px;
	font-weight: bold;
	border-bottom: 1px solid gray;
}

.wpodpowiedz{
	background: yellow;
	float: left;
	width: 20%;
	height: 100%;
	
}
.wpodpowiedz2{
	background: green;
	float: left;
	width: 80%;
	height: 100%;
	
}


.wiadomoscOne{
  width: 30%;
  text-align: left;
  border-radius: 6px;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  background: #800123;

}
.przycisk {
  width: 70%;
  ttext-align: center;
  margin: 0 auto;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  padding: 10px 30px;
  margin-bottom: 20px;
  border-radius: 20px;

  font-size: 20px;
  font-weight: bold;
  color: #800123;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #ffffff;
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}
.prawoSrodek{
    width: 90%;
    height: 65%;
    margin: 0 auto;

    overflow: auto;
    bbackground-color: #4CAF50;
}
#tytul{
    float: left;
    width: 100%;
    bbackground-color: yellow;
}
#koniec{
    float: left;
    width: 100%;
    background-color: blueviolet;
}
.MESSAGE{
  width: 60%;
  text-align: left;
    float: left;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  padding: 10px 20px;
  margin-bottom: 10px;
  border: 1px solid #800123;

  border-radius: 20px;

  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #800123;
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}

.REPLY{
  width: 60%;
    float: right;
  text-align: right;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  padding: 10px 20px;
  margin-bottom: 10px;
  border: 1px solid #800123;
    border-radius: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #800123;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #ffffff;
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    mmargin-right: -40%;
}
#wpisz{
	bbackground-color: yellow;
	bottom: 0;
	position: fixed;
	width: 80%;
	ppadding-left: 20px;
    mmargin: 0 auto;
}
input{
    height: 45px;
  width: 50%;
    float: left;
  text-align: left;
  padding: 10px 20px;
  mmargin-bottom: 10px;
  border: 1px solid #800123;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-size: 30px;
  font-weight: bold;
  color: #800123;
  background: #ffffff;
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
input[type=button], input[type=image]{
    width: 45px;
	background-color: #800123;
	color: #ffffff;
	padding-left: 10px;
}
#logowanie{
    margin: 0 auto;
    width: 600px;
    height: 400px;
    background: #ffffff;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
    margin-top: 150px;
    padding: 20px;
    text-align: center;
    font-size: 40px;
    color: #800123;
}

#pola{
    margin: 0 auto;
    width: 80%;
    hheight: 400px;
}

input#pole1, input#pole2{
    width: 50px;
    text-align: center;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    padding: 10px 20px;
    margin-bottom: 10px;
    border: 1px solid #800123;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-size: 20px;
    font-weight: bold;
    color: #800123;
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #ffffff;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
    margin: 20px;
}


input#pole3{
    width: 50px;
    text-align: center;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    padding: 10px 20px;
    margin-bottom: 10px;
    border: 1px solid #800123;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-size: 20px;
    font-weight: bold;
    color: #800123;
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #ffffff;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
    margin: 20px;
    width: 200px;
    background-color: #800123;
    color: #ffffff;
    padding-left: 10px;
}

button#nrPok{
    bbackground-color: cornflowerblue;
    width: 20%;
   hheight: 30%;
    font-size: 20px;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    border: none;
    background-color: #e7e7e7; color: black;
    margin: 8px;
    border-radius: 20px;

}
button#nrPokOk{
    bbackground-color: cornflowerblue;
    width: 90%;
    hheight: 30%;
    font-size: 30px;
    padding: 30px;
    font-weight: bold;
    text-align: center;
    border: none;
    background-color: #4CAF50;
    color: #ffffff;
    margin: 10px;
    border-radius: 20px;

}

button#wyborDialog{
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
    color: #800123;
    background-color: #ffffff;
    border: 1px solid #800123;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 25px;

}
dialogPok{
    background-color: yellow;
}



