<!DOCTYPE html>
<html>
<head><title>UTP Translate</title>
    <link rel="stylesheet" href="views/style/mainGotowy.css" type="text/css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script type="text/javascript" src="../js/lib/angular.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ng-dialog/1.0.1/css/ngDialog.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/ng-dialog/1.0.1/css/ngDialog-theme-default.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="https://cdn.pubnub.com/pubnub-3.15.1.min.js"></script>
    <script src="https://cdn.pubnub.com/sdk/pubnub-angular/pubnub-angular-3.2.1.min.js"></script>
</head>

<body ng-app="translator" ng-controller="controller">
<div id="ContainerLogowanie" ng-hide="hasCode">
    <div id="logowanie">
        <img src="img/logo_header.png" wwidth="20%"/><br><br>
        <div id="pola">
            Kod:
            <input type="text" id="pole1" ng-model="insertCode">
            <input type="button" value="połącz..." id="pole3" ng-click="setCode()">
        </div>
    </div>

</div>
<div id="Container" ng-show="hasCode">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
        <!-- Brand -->
        <a class="navbar-brand px-2" href="#"><h4><i class="far fa-comments"></i> MessengerTuTu</h4></a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <div class="navbar-nav ml-auto">
                <button class="btn btn-secondary rounded-0 mx-2" type="button"><img src="../img/flagENG.png" alt="eng" height="40" ng-click="setEn()"/></button>
                <button class="btn btn-secondary rounded-0 mx-2" type="button"><img src="../img/flagGER.png" alt="ger" height="40" ng-click="setDe()"/></button>

            </div>
        </div>
    </nav>

    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-sm-4 bg-gradient pt-5" id="typicalPhrases">

                <div class="mx-auto pt-5 pb-2 w-100 text-white text-center"><h2>{{categories}}</h2></div>
                <div class="typicalPhrasesButton" data-ng-repeat="q in faq">
                    <div ng-click="odpFaq(q)" onclick="updateScroll()">{{q.text}}</div>
                </div>
            </div>
            <div class="col-sm-8 pt-5 bg-background" id="conversation">
                <div class="mx-auto pt-5 pb-2 w-100 text-center"><h2>{{yourConversation}} Code: {{code}}</h2></div>
                <div class="container" id="conversationBox">



                    <div data-ng-repeat="r in receivedText" class="speechBubble m-2 {{r.messageType=='MESSAGE'?'float-left':'float-right'}}" >
                        <div class="{{r.messageType}} shadow" >
                            {{r.content}}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
<div class="container-fluid fixed-bottom">

    <div class="row">
        <div class="col-sm-4">

        </div>
        <div class="col-sm-8 bg-background">
            <div class="container">
                <div class="input-group pb-3">
                    <button class="btn btn-secondary rounded-0 fontGlobal" type="button" ng-show="speakLang=='en-EN'" ng-click="activeVoice()">Speech <i class="fas fa-volume-mute" ng-show="voiceActivated"></i><i class="fas fa-volume-up" ng-hide="voiceActivated"></i></button>
                    <input type="text" class="form-control form-control-lg rounded-0 font-weight-bold shadow-lg fontGlobal"
                           placeholder="Type you message ..." ng-model="tresc" ng-keydown="$event.keyCode === 13 && odpowiedz()">
                    <div class="input-group-append">
                        <button class="btn btn-danger btn-lg rounded-0 fontGlobal" type="button" ng-click="odpowiedz()">Send
                        </button>
                        <button class="btn btn-secondary rounded-0 fontGlobal" type="button" ng-click="clear()">Clear <i class="fas fa-trash"></i></button>

                    </div>
                </div>
            </div>
        </div>
    </div>


</div>


<!--	<div class="lewo col-sm-4"><br>-->
<!--		<br>-->
<!--		<br>-->


<!--		<h1>{{categories}}</h1>-->

<!--		<div class="przycisk"  data-ng-repeat="q in faq">-->
<!--			<div ng-click="odpFaq(q)">{{q.text}}</div>-->
<!--		</div>-->

<!--	</div>-->
<!--	<div class="prawo col-sm-8">-->
<!--	<div id="tytul"><h1>{{yourConversation}}</h1>-->

<!--		<div>-->
<!--			Code: {{code}}-->
<!--		</div>-->

<!--	</div>-->


<!--		<div class="prawoSrodek">-->


<!--			<div class="{{r.messageType}}" data-ng-repeat="r in receivedText">-->
<!--				&lt;!&ndash;				Odebrano <b> {{r.timeStamp}} </b><br>&ndash;&gt;-->
<!--				&lt;!&ndash;				Treść: <b>{{r.content}}</b>&ndash;&gt;-->
<!--				&lt;!&ndash;				<button ng-click="usun(r.id)">Usuń</button>&ndash;&gt;-->
<!--&lt;!&ndash;				<button ng-click="say(r.content,speakLang)">Say</button>&ndash;&gt;-->
<!--				{{r.content}}-->
<!--			</div></div>-->

<!--		<div id="wpisz">-->
<!--			<div ng-show="speakLang=='en-EN'"><input type="image" src="{{micSrc}}" width="30" ng-click="activeVoice()"></div>-->
<!--			<input type="text" value="Wprowadz tekst..." ng-model="tresc" ng-keydown="$event.keyCode === 13 && odpowiedz()">-->
<!--			<input type="image" src="../img/send.png" ng-click="odpowiedz()">-->


<!--		</div>-->


<!--	</div>-->
<!--</div> -->
<script>
    function updateScroll() {
        var objDiv = document.getElementById("conversationBox");
        objDiv.scrollTop = objDiv.scrollHeight;
    }
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/ng-dialog/1.0.1/js/ngDialog.min.js"></script>

<script type="text/javascript">
    angular.module('translator', ['ngDialog', "pubnub.angular.service"]).controller('controller', function ($scope, $http, ngDialog, $location) {
        $scope.receivedText = "";
        $scope.faq = "";
        $scope.actLang = "en";
        $scope.room = "Room";
        $scope.bookingWashing = "Booking washing";
        $scope.conversationSize = 0;
        $scope.conversationLoaded = true;
        $scope.hasCode = true;
        $scope.code = "";
        $scope.insertedRoom = "";
        $scope.speakLang = "en-EN";
        $scope.said = false;
        $scope.voiceActivated = false;
        $scope.categories = "Categories";
        $scope.yourConversation = "Your conversation";
        $scope.micSrc = "img/mic2.png";

        $scope.code = $location.absUrl().substring($location.absUrl().lastIndexOf("/") + 1);
        console.log("Kod: ", $scope.code);
        if ($scope.code == "") {
            $scope.hasCode = false;
            $scope.conversationLoaded = false;
        }


        $http.get("/api/faq/" + $scope.actLang).then(function (value) {
            $scope.faq = value.data;
            console.log("FAQ loaded", value);
        }), function (err) {
            console.log("err - FAQ", err);
        };

        setInterval(function () {
            if ($scope.conversationLoaded) {
                $http.get("/api/count/" + $scope.code).then(function (value) {
                    if ($scope.conversationSize != value.data) {
                        console.log("New conversation size", value.data);
                        $scope.conversationSize = value.data;
                        $http.get("/api/getMessages/code=" + $scope.code + "/lang=" + $scope.actLang).then(function (value) {
                            //$http.get("/api/all/"+$scope.actLang).then(function (value) {
                            $scope.receivedText = value.data;
                            console.log("Conversation Reload", $scope.receivedText);
                            $scope.said = false;
                            if ($scope.voiceActivated && $scope.actLang == "en" && $scope.receivedText[$scope.receivedText.length - 1].messageType == "REPLY" && !$scope.said) {
                                $scope.say($scope.receivedText[$scope.receivedText.length - 1].content, $scope.actLang);
                                $scope.said = true;
                            }
                            updateScroll();
                        }), function (err) {
                            console.log("err", err);
                        };
                    }
                }), function (err) {
                    console.log("err - FAQ", err);
                };
            }
        }, 200);

        $scope.usun = function (id) {
            $http.delete("/api/del/" + id).then(function (value) {
                console.log("ok", "deleted selected message");
            }), function (err) {
                console.log("err", err);
            };
            //location.reload();
        };

        $scope.usunAll = function () {
            $http.delete("/api/del/all").then(function (value) {
                console.log("ok", "deleted All");
            }), function (err) {
                console.log("err", err);
            };
            //location.reload();
        };

        $scope.odpowiedz = function () {
            // if($scope.actLang!="en")
            // {
            // 	$http.post("/api/send/type=MESSAGE/code=" + $scope.code+"/"+$scope.actLang + "/message=" + $scope.tresc.replace(" ", "%20")+"/o="+$scope.tresc).then(function (value) {
            // 		console.log("ok", value);
            // 	}), function (err) {
            // 		console.log("err", err);
            // 	};
            // }
            // else
            // {
            // 	$http.post("/api/send/type=REPLY/code=" + $scope.code + "/message=" + $scope.tresc.replace(" ", "%20")).then(function (value) {
            // 				console.log("ok", $scope.code);
            // 			}), function (err) {
            // 				console.log("err", err);
            // 			};
            // }

            // $scope.clear=function()
            // {
            //     $http.delete("/api/del/code/"+$scope.code).then(function (value) {
            //         console.log("ok", "deleted All");
            //     }), function (err) {
            //         console.log("err", err);
            //     };
            //     //window.location.reload(true);
            // }

            $http.post("/api/send/type=MESSAGE/code=" + $scope.code + "/" + $scope.actLang + "/message=" + $scope.tresc.replace(" ", "%20") + "/o=" + $scope.tresc).then(function (value) {
                console.log("ok", value);
                $scope.tresc="";
            }), function (err) {
                console.log("err", err);
            };
        };

        // $scope.odpowiedz=function(){
        // 	$scope.tresc+="1";
        // 	console.log("KLIKNIĘTO 1!!!!",$scope.tresc);
        // };

        $scope.generujKod = function () {
            $http.get("api/reception/generate").then(function (value) {
                console.log("code", value.data.code);
                $scope.code = value.data.code;
            }), function (err) {
                console.log("err", err);
            };
        };

        $scope.tlumacz = function () {
            $http.get("/api/getMessages/code=" + $scope.code + "/lang=" + $scope.actLang).then(function (value) {
                $scope.receivedText = value.data;
                console.log("Conversation", "Reload [" + $scope.actLang + "]");
            }), function (err) {
                console.log("err", err);
            };
        }

        $scope.setEn = function () {
            $scope.actLang = "en";
            $scope.speakLang = "en-EN";
            $scope.room = "Room";
            $scope.bookingWashing = "Booking washing";
            $scope.categories = "Categories";
            $scope.yourConversation = "Your conversation";

            $http.get("/api/faq/" + $scope.actLang).then(function (value) {
                $scope.faq = value.data;
                console.log("FAQ loaded", value);
            }), function (err) {
                console.log("err - FAQ", err);
            };

            $scope.tlumacz();
        };

        $scope.setDe = function () {
            $scope.actLang = "de";
            $scope.speakLang = "de-DE";
            $scope.room = "Zimmer";
            $scope.bookingWashing = "Buchung waschen";
            $scope.categories = "Kategorien";
            $scope.yourConversation = "Dein Gespräch";

            $http.get("/api/faq/" + $scope.actLang).then(function (value) {
                $scope.faq = value.data;
                console.log("FAQ loaded", value);
            }), function (err) {
                console.log("err - FAQ", err);
            };

            $scope.tlumacz();
        };

        $scope.roomMessage = function () {
            var nr = prompt("Numer pokoju:");
            var wiadomosc = "Pokój " + nr;
            $http.post("/api/send/type=MESSAGE/code=" + $scope.code + "/" + $scope.actLang + "/message=" + wiadomosc.replace(" ", "%20")).then(function (value) {
                console.log("Send Pokój " + nr, value);
            }), function (err) {
                console.log("err", err);
            };
        };

        $scope.odpFaq = function (faq) {
            console.log("odp FAQ", faq);
            $scope.options = faq.options;

            if (faq.dialog) {
                var dialog = ngDialog.open({
                    template: '/' + faq.template + '.html',
                    className: 'ngdialog-theme-default',
                    scope: $scope,
                    data: $scope.insertedRoom
                });

                $scope.t = faq.returnedText;

                dialog.closePromise.then(function (data) {
                    console.log("Data popup", data);
                    $scope.insertedRoom = data.value;
                    if (!$scope.insertedRoom.includes("$")) {
                        $http.post("/api/send/type=MESSAGE/code=" + $scope.code + "/" + $scope.actLang + "/message=" + faq.returnedText.replace('""', "") + " " + $scope.insertedRoom.replace(" ", "%20")).then(function (value) {
                            console.log("odpFAQ", value);
                        }), function (err) {
                            console.log("err", err);
                        };
                    }
                });
            } else {
                $http.post("/api/send/type=MESSAGE/code=" + $scope.code + "/" + $scope.actLang + "/message=" + faq.text.replace(" ", "%20")).then(function (value) {
                    console.log("odpFAQ", value);
                }), function (err) {
                    console.log("err", err);
                };
            }

        };

        $scope.setCode = function () {
            $scope.code = $scope.insertCode;
            console.log("code", $scope.code);

            $http.post("/api/send/type=MESSAGE/code=" + $scope.code + "/test").then(function (value) {
                console.log("test message send", "ok");
                $scope.hasCode = true;
            }), function (err) {
                console.log("err", err);
            };

            $http.get("/api/getMessages/code=" + $scope.code + "/lang=" + $scope.actLang).then(function (value) {
                //$http.get("/api/all/"+$scope.actLang).then(function (value) {
                $scope.receivedText = value.data;
                $scope.conversationLoaded = true;
                console.log("Conversation loaded on start", "ok");
                $http.get("/api/count/" + $scope.code).then(function (value) {
                    $scope.conversationSize = value.data;
                    console.log("Conversation size", value.data);
                }), function (err) {
                    console.log("err - FAQ", err);
                };
            }), function (err) {
                console.log("Conversation loaded on start", err);
            };

            window.location.href = '/' + $scope.code;
        };

        //przyciski w popup
        $scope.click1 = function (number) {
            $scope.insertedRoom += number;
            console.log("Room", $scope.insertedRoom);
        };

        $scope.say = function (text, language) {
            console.log("Say in language", language);
            var msg = new SpeechSynthesisUtterance();
            var voices = window.speechSynthesis.getVoices();
            console.log("Dostepne głosy", voices);
            // msg.voice = voices[10];
            msg.voiceURI = 'native';
            msg.volume = 1;
            msg.rate = 1;
            msg.pitch = 1;
            msg.text = text;
            msg.lang = language;
            speechSynthesis.speak(msg);
        };

        $scope.activeVoice = function () {
            if ($scope.voiceActivated) {
                $scope.voiceActivated = false;
                $scope.micSrc = "../img/mic2.png";
                $scope.say("Voice deactivated", "en-EN");
            } else {
                $scope.voiceActivated = true;
                $scope.micSrc = "../img/mic.png";
                $scope.say("Voice activated", "en-EN");
            }
        };

        $scope.przeladuj = function () {
            window.location.reload(true);
        };

    });

</script>

<script type="text/javascript">
    function funkcja() {
        document.getElementById("no_room").value += 1;
        document.getElementById("no_room").click();
    }
</script>
</body>
</html>