<html>
<head><title>Tłumacz</title>
<link rel="stylesheet" href="views/style/main_r.css" type="text/css">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
	<script type="text/javascript" src="../js/lib/angular.min.js"></script>
</head>

<body ng-app="translator" ng-controller="controller">
<div id="Container2" ng-hide="hasCode">
	Brak kodu! Kliknij przycisk "Generuj"
	<button ng-click="generujKod()">Generuj</button>
</div>
	<div id="Container" ng-show="hasCode">
		<div id="gora">
				<img src="img/logods.png" width="20%" />
		</div>
		<div id="lewo">
			<div class="przycisk">
				Chcę klucz do pokoju
			</div>
			<div class="przycisk">
				<div ng-click="odpowiedz('Tak')">Tak.</div>
			</div>
			<div class="przycisk">
				<div ng-click="odpowiedz('Nie')">Nie.</div>
			</div>

		</div>
		<div id="prawo"><br><br><br><br>
			<div>
				Wygenerowany kod: {{code}}
			</div>
			<img src="img/img2.png" width="10%" />
			<div class="{{r.messageType}}" data-ng-repeat="r in receivedText">
<!--				Odebrano <b> {{r.timeStamp}} </b><br>-->
<!--				Treść: <b>{{r.content}}</b>-->
<!--				<button ng-click="usun(r.id)">Usuń</button>-->
				{{r.content}}
			</div>
<!--			<div class="wiadomoscOne">-->
<!--				tresc-->
<!--			</div>-->
<!--			<div class="wiadomoscTwo">-->
<!--				tresc-->
<!--			</div>-->
<!--			<div class="wiadomoscOne">-->
<!--				tresc-->
<!--			</div>-->
<!--			<div class="wiadomoscTwo">-->
<!--				tresc-->
<!--			</div>-->
			<div id="wpisz">
				<button ng-click="clear()">WYCZYŚĆ</button>
			<input type="text" value="Wprowadz tekst..." ng-model="tresc"><input type="button" value=">" ng-click="odpowiedz2()">
			</div>

			
		</div>
	</div>
	<script type="text/javascript">
		angular.module('translator', []).controller('controller', function ($scope, $http) {
			$scope.receivedText = "";
			$scope.conversationSize=0;
			$scope.conversationLoaded=false;
			$scope.hasCode=false;
			$scope.code="";

			setInterval(function () {
				if($scope.conversationLoaded)
				{
					$http.get("/api/all/count/"+$scope.code).then(function (value) {
						if($scope.conversationSize!=value.data)
						{
							console.log("New conversation size", value.data);
							$scope.conversationSize=value.data;
							$http.get("/api/getMessages/code="+$scope.code).then(function (value) {
							//$http.get("/api/all").then(function (value) {
								$scope.receivedText = value.data;
								console.log("Conversation", "Reload");
							}), function (err) {
								console.log("err", err);
							};
						}
					}), function (err) {
						console.log("err - FAQ", err);
					};
				}
			}, 1000);

			$scope.odpowiedz2 = function () {
				$http.post("/api/send/type=REPLY/code=" + $scope.code + "/message=" + $scope.tresc.replace(" ", "%20")).then(function (value) {
					console.log("ok", $scope.code);
				}), function (err) {
					console.log("err", err);
				};
			};

			$scope.odpowiedz = function (text) {
				$http.post("/api/send/type=REPLY/code=" + $scope.code  + "/message=" + text.replace(" ", "%20")).then(function (value) {
					console.log("ok", value);
				}), function (err) {
					console.log("err", err);
				};
			};

			$scope.clear=function()
			{
				$http.delete("/api/del/code/"+$scope.code).then(function (value) {
					console.log("ok", "deleted All");
				}), function (err) {
					console.log("err", err);
				};
			}

			$scope.generujKod=function () {
				$http.get("/api/generate").then(function (value) {
					console.log("Code generated", value.data.code);
					$scope.code=value.data.code;
					$scope.hasCode=true;
				}), function (err) {
					console.log("Generation code error", err);
				};
				$http.get("/api/getMessages/code="+$scope.code).then(function (value) {
					//$http.get("/api/all").then(function (value) {
					$scope.receivedText = value.data;
					$scope.conversationLoaded=true;
					console.log("Conversation loaded on start", "ok");
					$http.get("/api/all/count/"+$scope.code).then(function (value) {
						$scope.conversationSize = value.data;
						console.log("Conversation size", value.data);
					}), function (err) {
						console.log("err - FAQ", err);
					};
				}), function (err) {
					console.log("Conversation loaded on start", err);
				};
			};
		});

	</script>
</body>
</html>