	<html>
<head><title>UTP Translate</title>
	<link rel="stylesheet" href="../views/style/mainGotowy_r.css" type="text/css">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
	<script type="text/javascript" src="../js/lib/angular.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ng-dialog/1.0.1/css/ngDialog.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ng-dialog/1.0.1/css/ngDialog-theme-default.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<script src='https://kit.fontawesome.com/a076d05399.js'></script>
	<script src="https://cdn.pubnub.com/pubnub-3.15.1.min.js"></script>
	<script src="https://cdn.pubnub.com/sdk/pubnub-angular/pubnub-angular-3.2.1.min.js"></script>
</head>

<body ng-app="translator" ng-controller="controller">
<div id="ContainerLogowanie" ng-hide="hasCode">
	<div id="logowanie">
		<img src="../img/logo_header.png" wwidth="20%" /><br><br>
		<div id="pola">
			Kod:
			<input type="text" id="pole1" ng-model="insertCode">
			<input type="button" value="połącz..." id="pole3" ng-click="setCode()">
		</div>
	</div>

</div>



<div id="Container" ng-show="hasCode">


	<div class="container-fluid h-100">
		<div class="row h-100">
			<div class="col-sm-4 bg-gradient pt-2" id="typicalPhrases">

				<div class="mx-auto pb-2 w-100 text-white text-center"><h2>Zwroty</h2></div>

				<div class="typicalPhrasesButton">
					<div ng-click="odpowiedz('Tak.','Tak.')">Tak.</div>
				</div>
				<div class="typicalPhrasesButton">
					<div ng-click="odpowiedz('Nie.','Nie.')">Nie.</div>
				</div>
				<div class="typicalPhrasesButton">
					<div ng-click="odpowiedz('I do not understand.','Nie rozumiem.')">Nie rozumiem.</div>
				</div>
				<div class="typicalPhrasesButton">
					<div ng-click="odpowiedz('Show your dormitory card.','Pokaż kartę mieszkańca.')">Pokaż kartę mieszkańca.</div>
				</div>


			</div>
			<div class="col-sm-8 pt-2 bg-background" id="conversation">
				<div class="mx-auto pb-2 w-100 text-center"><h2>Konwersacja</h2><div>Code: {{code}}</div></div>
				<div class="container" id="conversationBox">



					<div data-ng-repeat="r in receivedText" class="speechBubble m-2 {{r.messageType=='MESSAGE'?'float-right':'float-left'}}" >
						<div class="{{r.messageType}} shadow" >
							{{r.messageType=="REPLY"?r.originalContent:r.content}}
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

</div>
<div class="container-fluid fixed-bottom">

	<div class="row">
		<div class="col-sm-4">
			<div class="input-group pb-3">

			</div>
		</div>
		<div class="col-sm-8 bg-background">
			<div class="container">
				<div class="input-group pb-3">
					<button class="btn btn-secondary rounded-0 fontGlobal" type="button" ng-click="activeVoice()">Mowa <i class="fas fa-volume-mute" ng-show="voiceActivated"></i><i class="fas fa-volume-up" ng-hide="voiceActivated"></i></button>
					<input type="text" class="form-control form-control-lg rounded-0 font-weight-bold shadow-lg fontGlobal"
						   placeholder="Wpisz tekst ..." ng-model="tresc" ng-keydown="$event.keyCode === 13 && odpowiedz2()">
					<div class="input-group-append">
						<button class="btn btn-danger btn-lg rounded-0 fontGlobal" type="button" ng-click="odpowiedz2()">Wyślij
						</button>
						<button class="btn btn-secondary rounded-0 fontGlobal" type="button" ng-click="clear()">Czyść <i class="fas fa-trash"></i></button>


					</div>
				</div>
			</div>
		</div>
	</div>


</div>
















<!--<div id="Container" ng-show="hasCode">-->

<!--	<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">-->
<!--		&lt;!&ndash; Brand &ndash;&gt;-->
<!--		<a class="navbar-brand" href="#"><img src="../img/logoUTP.png" width="65%"/></a>-->

<!--		&lt;!&ndash; Toggler/collapsibe Button &ndash;&gt;-->
<!--		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">-->
<!--			<span class="navbar-toggler-icon"></span>-->
<!--		</button>-->

<!--		&lt;!&ndash; Navbar links &ndash;&gt;-->
<!--		<div class="collapse navbar-collapse" id="collapsibleNavbar">-->
<!--			<ul class="navbar-nav ml-auto">-->
<!--&lt;!&ndash;				<li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;					<a class="nav-link" href="#"><img src="../img/flagENG.png" height="50" ng-click="setEn()"/></a>&ndash;&gt;-->
<!--&lt;!&ndash;				</li>&ndash;&gt;-->
<!--&lt;!&ndash;				<li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;					<a class="nav-link" href="#"><img src="../img/flagGER.png" height="50" ng-click="setDe()"/></a>&ndash;&gt;-->
<!--&lt;!&ndash;				</li>&ndash;&gt;-->

<!--			</ul>-->
<!--		</div>-->
<!--	</nav>-->


<!--	<div class="lewo col-sm-4"><br>-->
<!--		<br>-->
<!--		<br>-->


<!--		<h1>Podpowiedzi</h1>-->

<!--		<div class="przycisk">-->
<!--			<div ng-click="odpowiedz('Yes','Tak')">Tak.</div>-->
<!--		</div>-->
<!--		<div class="przycisk">-->
<!--			<div ng-click="odpowiedz('No','Nie')">Nie.</div>-->
<!--		</div>-->
<!--		<div class="przycisk">-->
<!--			<div ng-click="odpowiedz('I do not understand.','Nie rozumiem')">Nie rozumiem.</div>-->
<!--		</div>-->
<!--		<div class="przycisk">-->
<!--			<div ng-click="odpowiedz('Show your dormitory card.','Pokaż kartę mieszkańca')">Pokaż kartę mieszkańca.</div>-->
<!--		</div>-->

<!--	</div>-->
<!--	<div class="prawo col-sm-8">-->
<!--		<div id="tytul"><h1>Konwersacja</h1>-->

<!--			<div>-->
<!--				Kod: {{code}}-->
<!--			</div>-->

<!--		</div>-->



<!--		<div class="prawoSrodek">-->

<!--			&lt;!&ndash;			<div class="alert alert-success">&ndash;&gt;-->
<!--			&lt;!&ndash;				<strong>Success!</strong> Indicates a successful or positive action.&ndash;&gt;-->
<!--			&lt;!&ndash;			</div>&ndash;&gt;-->


<!--			<div class="{{r.messageType}}" data-ng-repeat="r in receivedText">-->
<!--				&lt;!&ndash;				Odebrano <b> {{r.timeStamp}} </b><br>&ndash;&gt;-->
<!--				&lt;!&ndash;				Treść: <b>{{r.content}}</b>&ndash;&gt;-->
<!--				&lt;!&ndash;				<button ng-click="usun(r.id)">Usuń</button>&ndash;&gt;-->
<!--				&lt;!&ndash;				<button ng-click="say(r.content,speakLang)">Say</button>&ndash;&gt;-->
<!--				{{r.messageType=="REPLY"?r.originalContent:r.content}}-->
<!--			</div></div>-->
<!--		&lt;!&ndash;			<div class="wiadomoscOne">&ndash;&gt;-->
<!--		&lt;!&ndash;				tresc&ndash;&gt;-->
<!--		&lt;!&ndash;			</div>&ndash;&gt;-->
<!--		&lt;!&ndash;			<div class="wiadomoscTwo">&ndash;&gt;-->
<!--		&lt;!&ndash;				tresc&ndash;&gt;-->
<!--		&lt;!&ndash;			</div>&ndash;&gt;-->
<!--		&lt;!&ndash;			<div class="wiadomoscOne">&ndash;&gt;-->
<!--		&lt;!&ndash;				tresc&ndash;&gt;-->
<!--		&lt;!&ndash;			</div>&ndash;&gt;-->
<!--		&lt;!&ndash;			<div class="wiadomoscTwo">&ndash;&gt;-->
<!--		&lt;!&ndash;				tresc&ndash;&gt;-->
<!--		&lt;!&ndash;			</div>&ndash;&gt;-->
<!--		<div id="wpisz">-->
<!--			<input type="image" src="{{micSrc}}" width="30" ng-click="activeVoice()">-->
<!--			<input type="text" value="Wprowadz tekst..." ng-model="tresc" ng-keydown="$event.keyCode === 13 && odpowiedz2()">-->
<!--			<input type="image" src="../img/send.png" ng-click="odpowiedz2()">-->
<!--			<input type="button" value="x" ng-click="clear()">-->

<!--		</div>-->


<!--	</div>-->
<!--</div>-->

<script>
	function updateScroll() {
		var objDiv = document.getElementById("conversationBox");
		objDiv.scrollTop = objDiv.scrollHeight;
	}
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ng-dialog/1.0.1/js/ngDialog.min.js"></script>

<script type="text/javascript">
	angular.module('translator', ['ngDialog',"pubnub.angular.service"]).controller('controller', function ($scope, $http, ngDialog, $location) {
		$scope.receivedText = "";
		$scope.conversationSize=0;
		$scope.conversationLoaded=false;
		$scope.hasCode=true;
		$scope.code="";
		$scope.napis="Napis";
		$scope.testcode=$location.absUrl();
		$scope.said=false;
		$scope.micSrc="../img/mic2.png";
		console.log("KOD TESTOWY:",$scope.testcode);
		console.log("location:",$location);
		$scope.codeTmp=$location.absUrl().substring(0,$location.absUrl().lastIndexOf("/"));
		$scope.code=$scope.codeTmp.substring($scope.codeTmp.lastIndexOf("/")+1);
		console.log("WYCIĘTY KOD:",$scope.code);
		$scope.voiceActivated=false;
		if($scope.code.includes($location.host()))
		{
			$scope.hasCode=false;
			$scope.conversationLoaded=false;
		}

		$http.post("/api/send/type=MESSAGE/code=" + $scope.code+"/test").then(function (value) {
			console.log("test message send", "ok");
			$scope.conversationLoaded=true;
		}), function (err) {
			console.log("err", err);
		};

		setInterval(function () {
			if($scope.conversationLoaded)
			{
				$http.get("/api/count/"+$scope.code).then(function (value) {
					if($scope.conversationSize!=value.data)
					{
						$scope.said=false;
						console.log("New conversation size", value.data);
						$scope.conversationSize=value.data;
						//$http.get("/api/getMessages/code="+$scope.code).then(function (value) {
						//$http.get("/api/all").then(function (value) {
						$http.get("/api/getMessages/code="+$scope.code+"/lang=pl").then(function (value){
							$scope.receivedText = value.data;
							console.log("Conversation Reload", $scope.receivedText);
							if($scope.voiceActivated && $scope.receivedText[$scope.receivedText.length-1].messageType!="REPLY" && !$scope.said)
							{
								$scope.say($scope.receivedText[$scope.receivedText.length-1].content);
								$scope.said=true;
							}
						}, function (err) {
							console.log("err", err);
						});
					}
				}, function (err) {
					console.log("err - FAQ", err);
				});
				updateScroll();
			}
		}, 200);

		// setInterval(function () {
		// 	if(!$scope.hasCode)
		// 	{
		// 		if($scope.code.length>0)
		// 		{
		// 			$http.get("/api/test/"+$scope.code).then(function (value){
		// 				if(value.data==1) {
		// 					console.log("Found test message", $scope.code);
		// 					$scope.hasCode=true;
		// 				}
		// 			}), function (err) {
		// 				console.log("err", err);
		// 			};
		// 		}
		// 	}
		// }, 1000);

		// $scope.odpowiedz2 = function () {
		// 	$http.post("/api/send/type=REPLY/code=" + $scope.code + "/message=" + $scope.tresc.replace(" ", "%20")).then(function (value) {
		// 		console.log("ok", $scope.code);
		// 	}), function (err) {
		// 		console.log("err", err);
		// 	};
		// };

		$scope.odpowiedz = function (text, textOriginal) {
			$http.post("/api/send/type=REPLY/code=" + $scope.code  + "/pl/message=" + text.replace(" ", "%20")+"/o="+textOriginal).then(function (value) {
				console.log("ok", value);
			}), function (err) {
				console.log("err", err);
			};
		};

		$scope.odpowiedz2 = function () {
			$http.post("/api/send/type=REPLY/code=" + $scope.code+"/pl/message=" + $scope.tresc.replace(" ", "%20")+"/o="+$scope.tresc	).then(function (value) {
				console.log("ok", value);
				$scope.tresc="";
			}), function (err) {
				console.log("err", err);
			};
		};

		$scope.clear=function()
		{
			$http.delete("/api/del/code/"+$scope.code).then(function (value) {
				console.log("ok", "deleted All");
			}), function (err) {
				console.log("err", err);
			};
			//window.location.reload(true);
		}

		$scope.generujKod=function () {
			$http.get("/api/generate").then(function (value) {
				console.log("Code generated", value.data.code);
				$scope.code=value.data.code;
			}), function (err) {
				console.log("Generation code error", err);
			};

			$http.get("/api/getMessages/code="+$scope.code).then(function (value) {
				//$http.get("/api/all").then(function (value) {
				$scope.receivedText = value.data;
				$scope.conversationLoaded=true;
				console.log("Conversation loaded on start", "ok");
				$http.get("/api/count/"+$scope.code).then(function (value) {
					$scope.conversationSize = value.data;
					console.log("Conversation size", value.data);
				}), function (err) {
					console.log("err - FAQ", err);
				};
			}), function (err) {
				console.log("Conversation loaded on start", err);
			};
		};

		$scope.say=function (text) {
			var msg = new SpeechSynthesisUtterance();
			var voices = window.speechSynthesis.getVoices();
			// msg.voice = voices[10];
			msg.voiceURI = 'native';
			msg.volume = 1;
			msg.rate = 1;
			msg.pitch = 1;
			msg.text = text;
			msg.lang = "pl-PL";
			speechSynthesis.speak(msg);
		};

		$scope.activeVoice=function () {
			if($scope.voiceActivated)
			{
				$scope.voiceActivated=false;
				$scope.micSrc='<i class=\"fas fa-volume-mute\"></i>';
				$scope.say("Głos wyłączony","pl-PL");
			}
			else
			{
				$scope.voiceActivated=true;
				$scope.micSrc="../img/mic.png";
				$scope.say("Głos włączony","pl-PL");
			}
		};

		$scope.setCode=function () {
			$scope.code=$scope.insertCode;
			console.log("code",$scope.code);

			$http.post("/api/send/type=MESSAGE/code=" + $scope.code+"/test").then(function (value) {
				console.log("test message send", "ok");
				$scope.hasCode=true;
			}), function (err) {
				console.log("err", err);
			};

			$http.get("/api/getMessages/code="+$scope.code+"/lang="+$scope.actLang).then(function (value) {
				//$http.get("/api/all/"+$scope.actLang).then(function (value) {
				$scope.receivedText = value.data;
				$scope.conversationLoaded=true;
				console.log("Conversation loaded on start", "ok");
				$http.get("/api/count/"+$scope.code).then(function (value) {
					$scope.conversationSize = value.data;
					console.log("Conversation size", value.data);
				}), function (err) {
					console.log("err - FAQ", err);
				};
			}), function (err) {
				console.log("Conversation loaded on start", err);
			};

			window.location.href = '/'+$scope.code+'/r';
		};
	});

</script>

<script type="text/javascript">
	function funkcja()
	{
		document.getElementById("no_room").value += 1;
		document.getElementById("no_room").click();
	}
</script>
</body>
</html>