<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>UTP Translate</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../views/style/startPage.css" type="text/css">
</head>
<body>
<div class="container-fluid">
    <div class="container  text-center">
<img class="img-fluid h-50" src="../img/dymek.png" width="500px">

<!--        <div id="demo" class="carousel slide m-5 p-5" data-ride="carousel">-->
<!--            <ul class="carousel-indicators">-->
<!--                <li data-target="#demo" data-slide-to="0" class="active"></li>-->
<!--                <li data-target="#demo" data-slide-to="1"></li>-->
<!--                <li data-target="#demo" data-slide-to="2"></li>-->
<!--            </ul>-->
<!--            <div class="carousel-inner">-->
<!--                <div class="carousel-item active">-->
<!--                    <h3 class="display-1 font-weight-bold text-white">Dzień dobry</h3>-->

<!--                </div>-->
<!--                <div class="carousel-item">-->
<!--                    <h3 class="display-1 font-weight-bold text-white">Good morning</h3>-->
<!--                </div>-->
<!--                <div class="carousel-item">-->
<!--                    <h3 class="display-1 font-weight-bold text-white">Dzień dobry</h3>-->
<!--                </div>-->

<!--            </div>-->
<!--            <a class="carousel-control-prev" href="#demo" data-slide="prev">-->
<!--                <span class="carousel-control-prev-icon"></span>-->
<!--            </a>-->
<!--            <a class="carousel-control-next" href="#demo" data-slide="next">-->
<!--                <span class="carousel-control-next-icon"></span>-->
<!--            </a>-->
<!--        </div>-->



</div>
</div>
<footer class="bg-light fixed-bottom p-5 shadow-lg text-center">
    <button type="button" class="btn btn-danger btn-lg shadow-lg btn-block"><h1>Start</h1></button>
</footer>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>