<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="nowyCSS.css" type="text/css">
</head>
<body>

<nav class="navbar navbar-dark default-color justify-content-between">
    <a class="navbar-brand" href="#">Navbar</a>
    <form class="form-inline my-1">
        <div class="md-form form-sm my-0">
            <input class="form-control form-control-sm mr-sm-2 mb-0" type="text" placeholder="Search"
                   aria-label="Search">
        </div>
        <button class="btn btn-outline-white btn-sm my-0" type="submit">Search</button>
    </form>
</nav>

    <div id="tlo">
        <div id="hello">hello.</div>
    </div>
    <div id="pasek">
        <div id="pasek2">
            <div class="wpaski">fff</div>
            <div class="wpaski">fff</div>
            <div class="wpaski">fff</div>
            <div class="wpaski">fff</div>
            <div class="wpaski">fff</div>
            <div class="wpaski">fff</div>
        </div>
    </div>

</body>
</html>